/* 'Nunito Sans' - 400, 600, 700, 800 */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700;6..12,800&display=swap");

/* 'NEXT ART' - 700 */
@font-face {
  font-family: 'NEXT ART';
  src: url('./NEXT\ ART_Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 700px;
}